@media screen and (min-width: 358px) {
 
  .Services {


  }

  .Services_container {

    width: 100%;

    margin-top: 2rem;
  }

  .Services_content {

    width: 100%;

    box-sizing: border-box;
    padding: 0 .7rem 0 .7rem;

    display: flex;
    justify-content: center;
  }

  /* Style Boxes Services */

  .Services_content-boxes {

    width: 95%;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .Services_content-box {

    width: 100%;

    margin-bottom: 2rem;
  }

  .Services_content-box-Image {

    width: 100%;
    height: 150px;

    overflow: hidden;

    border-bottom: 2px solid orange;
  }

  .Services_content-box-Image img {

    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .Services_content-box-descriprion h1{

    color: black;

    font-size: 1.2rem;
    font-family: "Acme", sans-serif;
    font-weight: 200;

    margin: .5rem 0 0 0;
    padding: 0;
  }

  .Services_content-box-descriprion p {

    color: black;

    font-size: .9rem;

    font-family: "Noto Sans Tai Viet", sans-serif;
    font-weight: 100;

    margin: .5rem 0 .5rem 0;
    padding: 0;
  }

  .Services_content-box-descriprion a {

    color: blue;

    font-size: 1.1rem;
    font-family: "Titillium Web", serif;
    font-weight: bold;
    text-decoration: none;
  }

  /* Style Services Proficional */

  .Services_content-InfoProficional {

    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .Services_content-InfoProficional-box {

    width: 95%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-top: 2px solid rgb(226, 226, 226);
    padding: 2rem 0 1rem 0;
  }

  /* box 1 */

  .Services_content-InfoProficional-box1 {

    width: 100%;
    height: auto;

    margin: 0;
  }

  .Services_content-InfoProficional-box1-content {

    padding: .4rem;

    box-sizing: border-box;
  }

  .Services_content-InfoProficional-box1-content h1{

    color: black;

    font-size: 1.2rem;
    font-family: "Jost", sans-serif;
    font-weight: 600;
    font-style: normal;

    margin: 0 0 .5rem 0;
  }

  .Services_content-InfoProficional-box1-content p{

    color: black;

    font-size: .9rem;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 300;
    font-style: normal;

    margin: 0 0 1rem 0;
  }

  /* box 2 */

  .Services_content-InfoProficional-box2 {

    width: 100%;
    height: auto;

    margin: 0;
  }

  .Services_content-InfoProficional-box2-content {

    padding: .4rem;

    box-sizing: border-box;
  }

  .Services_content-InfoProficional-box2-content h1{

    color: black;

    font-size: 1.2rem;
    font-family: "Jost", sans-serif;
    font-weight: 600;
    font-style: normal;

    margin: 0 0 .5rem 0;
  }

  .Services_content-InfoProficional-box2-content p{

    color: black;

    font-size: .9rem;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 300;
    font-style: normal;

    margin: 0 0 1rem 0;
  }

  .Services_content-InfoProficional-box2-content ul {

    list-style: none;
    margin: 0;
    padding: 0;
  }

  .Services_content-InfoProficional-box2-content li {

    color: black;

    font-size: 1rem;
    font-family: "Acme", sans-serif;
    font-weight: 500;
    font-style: normal;

    display: flex;
    justify-content: start;
    align-items: center;

    margin: .5rem 0 0 0;
    padding: 0;
  }

  .Services_content-InfoProficional-box2-content li::before {

    content: "";

    background-color: orange;
    width: 10px;
    height: 10px;  
    
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    border: 1px solid black;

    margin-right: 10px;
  }

  /* box 3 */

  .Services_content-InfoProficional-box3 {
    width: 100%;
    height: auto;

    margin: 1.5rem 0 0 0;
  }

  .Services_content-InfoProficional-box3-content {

    padding: .4rem;

    box-sizing: border-box;
  }

  .Services_content-InfoProficional-box3-content h1{

    color: black;

    font-size: 1.2rem;
    font-family: "Jost", sans-serif;
    font-weight: 600;
    font-style: normal;

    margin: 0 0 .5rem 0;
  }

  .Services_content-InfoProficional-box3-content p{

    color: black;

    font-size: .9rem;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 300;
    font-style: normal;

    margin: 0 0 1rem 0;
  }

  .Services_content-InfoProficional-box3-content ul {

    list-style: none;
    margin: 0;
    padding: 0;
  }

  .Services_content-InfoProficional-box3-content li {

    color: black;

    font-size: 1rem;
    font-family: "Acme", sans-serif;
    font-weight: 500;
    font-style: normal;

    display: flex;
    justify-content: start;
    align-items: center;

    margin: .5rem 0 0 0;
    padding: 0;
  }

  .Services_content-InfoProficional-box3-content li::before {

    content: "✔️";

    width: 10px;
    height: 10px;  
    
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 10px;
  }
}