@media screen and (min-width: 358px) {
 
  @keyframes shakingPhon {
    0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
  }

  .TopContact {
    
    background-color: #00254a;
    width: 100%;

    position: fixed;
    top: 0px;
    z-index: 600;
  }

  .TopContact_container {

    box-sizing: border-box;

    margin: 0;
    padding: .5rem .9rem .6rem .9rem;
  }

  .TopContact_content {
  }

  .TopContact_box {

   width: 100%;

   display: flex;
   justify-content: space-between;

   box-sizing: border-box;
  }

  .TopContact_box-Phone {
    display: flex;
    align-items: center;
  }

  .TopContact_Icon {

    color: white;

    font-size: 1rem;
    margin-right: 10px;
  }

  .TopContact_box-Phone a{
   
    color: rgb(204, 213, 237);

    font-size: 1rem;
    font-family: "Titillium Web", serif;
    font-weight: bold;
    text-decoration: none;
  }

  .iconPhone-Event {

    color: rgb(204, 213, 237);

    animation: shakingPhon 600ms ease-in-out infinite;
  }

  .TopContact_box-Time {

    display: flex;
    align-items: center;
  }

  .desck {

    display: none;
  }

  .TopContact_box-Time p{

    color: white;

    font-size: 1rem;
    font-family: "Titillium Web", serif;
    font-weight: bold;
    text-decoration: none;
    margin: 0;
  }
}

@media screen and (min-width: 768px) {

  .TopContact_container {

    box-sizing: border-box;

    margin: 0;
    padding: .6rem .9rem .8rem .9rem;
  }

  .desck {

    display: flex;
  }
}

@media screen and (min-width: 1000px) {

  .TopContact_content {

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .TopContact_box {

    max-width: 1300px;
  }
}