@media screen and (min-width: 358px) {

  .Header {}

  .Header_container-MenuLateral {

    background-color: white;

    visibility: hidden;

    width: 0%;
    height: 100vh;

    position: fixed;
    z-index: 600;

    transition: all ease-in-out 1s;
  }

  .Header_container-MenuLateralJS {

    background-color: white;
    visibility: visible;

    width: 100%;
    height: 100vh;

    position: fixed;
    z-index: 600;

    transition: all ease-in-out 1s;
  }

  .Header_container-MenuLateral-Container {

    width: 100%;
    height: 100%;

    overflow: hidden;
  }

  .Header_container {

    background-color: white;
    width: 100%;

    position: fixed;
    top: 40px;
    z-index: 700;
  }

  .Header_content {

    width: 100%;
    padding: .5rem .5rem .5rem .5rem;
    box-sizing: border-box;

    border-bottom: 1px solid rgb(158, 157, 157);
  }

  .Header_box {

    width: 100%;
    display: flex;
  }

  .Header_box-logo {

    width: 100%;
    display: flex;
    align-items: center;
  }

  .Header_box-logo-icon {

    color: orange;

    font-size: 1.6rem;
    margin-bottom: 3px;
  }

  .Header_box-logo p {

    color: black;

    font-size: 1.5rem;
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
    margin: 0;
    letter-spacing: 1px;
  }

  /* Icon Logo */

  .Header_box-menu {

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: end;
    align-items: center;
  }

  .Header_box-menu-Icon {

    width: 30px;
    height: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .Navbar_content-Line {

    width: 30px;

    border-top: 3px solid black;

    display: flex;

    transition: .6s;
    display: block;

    position: relative;
  }

  .Navbar_content-Line::after,
  .Navbar_content-Line::before {

    content: "";
    background-color: black;

    display: block;
    width: 100%;
    height: 3px;

    margin-top: 5px;
    transition: .3s;
    position: relative;
  }

  .Navbar_content-Line.active {

    border-top-color: transparent;
    transition: .3s;
  }

  .Navbar_content-Line.active::before {

    transform: rotate(-45deg);
    transition: .3s;
  }

  .Navbar_content-Line.active::after {

    transform: rotate(45deg);
    transition: .3s;
    top: -8px;
  }

  /* Links Descktop */

  .Header_box-linksDescktop {

    display: none;
  }
}

@media screen and (min-width: 768px) {

  /* Menu Lateral */

  .Header_container-MenuLateral {

    display: none;
  }

  .Header_container {

    background-color: white;
    width: 100%;

    position: fixed;
    top: 45px;
    z-index: 600;
  }

  /* box logo */

  .Header_box-logo {

    width: 20%;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Header_box-logo-icon {

    font-size: 2rem;
  }

  .Header_box-logo p {

    font-size: 2rem;
  }

  /* box menu */

  .Header_box-menu {

    display: none;
  }

  /* Liks Descktop */

  .Header_box-linksDescktop {

    width: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Header_box-linksDescktop-list {

    width: 100%;
    max-width: 610px;

    box-sizing: border-box;
    padding: .5rem;

    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .Header_box-linksDescktop-list a {

    color: black;

    font-size: 1.2rem;
    font-family: "Acme", sans-serif;
    font-weight: 500;
    font-style: normal;

    text-decoration: none;
    margin-left: 3rem;
  }

  .Header_box-linksDescktop-list a.active {

    color: blue;
  }

  .Header_box-linksDescktop-list a:last-child {

    color: rgb(21, 21, 22);

    cursor: pointer;
  }
}

@media screen and (min-width: 1400px) {

  .Header_content {

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Header_box {

    max-width: 1500px;
  }

  /* box logo */

  .Header_box-logo {

    width: 40%;
  }

  /* Liks Descktop */

  .Header_box-linksDescktop {

    width: 60%;
  }
}