@media screen and (min-width: 358px) {

  .AboutInfo {}

  .AboutInfo-container {

    width: 100%;

    margin-top: 3rem;
  }

  .AboutInfo-content {

    width: 100%;
  }

  /* boxes */

  .AboutInfo-boxes {

    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* box description */

  .AboutInfo-boxes-boxDescription {

    width: 100%;

    padding: .5rem;
    box-sizing: border-box;
  }

  .AboutInfo-boxes-boxDescription-card {

    width: 100%;
    height: 230px;

    margin-bottom: 1rem;
  }

  .AboutInfo-boxes-boxDescription-card-box {

    padding: .3rem;
    box-sizing: border-box;
  }

  .AboutInfo-boxes-boxDescription-card-box h1 {

    color: black;

    font-size: 1.4rem;
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;

    margin: 0 0 1rem 0;
  }

  .AboutInfo-boxes-boxDescription-card-box p {

    color: black;

    font-size: 1rem;
    font-family: "Titillium Web", serif;
    font-weight: 400;
    font-style: normal;

    margin: 0 0 0 0;
  }

  /* box Professional */

  .AboutInfo-boxes-boxProfessional {
    width: 100%;

    padding: .5rem;
    box-sizing: border-box;
  }

  .AboutInfo-boxes-boxProfessional-card {

    width: 100%;
    height: 230px;

    margin-bottom: 1rem;

    display: flex;
  }

  .AboutInfo-boxes-boxProfessional-card-boxIcon {

    width: 20%;
    height: 100%;

    display: flex;
    justify-content: center;
  }

  .AboutInfo-boxes-boxProfessional-card-boxIcon:nth-child(1){

    color: orange;

    font-size: 3rem;
  }

  .AboutInfo-boxes-boxProfessional-card-boxInfo {

    width: 80%;
    height: 100%;

    box-sizing: border-box;
    padding: .3rem;
  }

  .AboutInfo-boxes-boxProfessional-card-boxInfo h1 {
   color: black;
    
    font-size: 1.4rem;
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;

    margin: 0 0 1rem 0;
  }

  .AboutInfo-boxes-boxProfessional-card-boxInfo p {

    color: black;

    font-size: 1rem;
    font-family: "Titillium Web", serif;
    font-weight: 400;
    font-style: normal;

    margin: 0 0 0 0;
  }

}

@media screen and (min-width: 500px) {

  /* box description */

  .AboutInfo-boxes-boxDescription {

    width: 100%;
    max-width: 550px;
  }

  /* box Professional */

  .AboutInfo-boxes-boxProfessional {
    width: 100%;
    max-width: 550px;
  }
}

@media screen and (min-width: 768px) {

   /* boxes */

   .AboutInfo-boxes {

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
  }

  /* box description */

  .AboutInfo-boxes-boxDescription {

    width: 50%;
    height: 100%;
  }

  .AboutInfo-boxes-boxDescription-card {

    margin: 0rem 0 1rem 0;
  }

  /* box Professional */

  .AboutInfo-boxes-boxProfessional {
    width: 50%;
  }
}